<div class="Project index">
  <h2>Projects</h2>
 
  <%=admin_header%>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Project Name</th>
      <th>User</th>
      <th>Description</th>
      <th>Actions</th>
      <th>Bugs</th>
    </tr>
    <%i=1%>
    <% @projects.each do |project| %>
    <%if project.user_ids.include?(current_user.id) || current_user.admin%>
    <tr>
      <td><%= i %></td>
      <td><%= project.name %></td>
      <td><%= project.user_ids %></td>
      <td><%= project.description %></td>
      <td class="actions">
        <%= link_to "Show", project_path(project) %>
        <%=admin_user(project)%>
      </td>
            <td>
        <%= link_to "Add bug", new_project_bug_path(project) %>
      </td>
      <td>
        <%= link_to "Show bugs", project_bugs_path(project) %>
      </td>
    </tr>
    <%i+=1%>
    <%end%>
    <% end %>
  </table>
  
</div>