<div class="container">
  <h2>Projects</h2>
 
  <%=admin_header%>

  <table class="table table-striped" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Project Name</th>
      <th>User</th>
      <th>Description</th>
      <th>Actions</th>
      <th>Bugs</th>
      <th><th>
    </tr>
    <%i=1%>
    <% @projects.each do |project| %>
    <%if project.user_ids.include?(current_user.id) || current_user.admin%>
    <tr>
      <td><%= i %></td>
      <td><%= project.name %></td>
      <td><%= project.user_ids %></td>
      <td><%= project.description %></td>
      <td class="actions">
        <%= link_to "Show", project_path(project),class: 'btn btn-info' %>
        <%=admin_user(project)%>
      <td>
        <%= link_to "Add Bug", new_project_bug_path(project),class: 'btn btn-success'%>

        <%= link_to "Show Bugs", project_bugs_path(project),class: 'btn btn-warning'%>
      
        <%= link_to "Bugs Detail", project_bugs_path(project),class: 'btn btn-info' %></td>
    </tr>
    <%i+=1%>
    <%end%>
    <% end %>
  </table>
  
</div>