<%= link_to "<< Back" ,:back %>
 <div class="User index">
  <h2>Users</h2>
  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Email</th>
      <th>Invitation</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <% if current_user.email != user.email%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td class="center"><%=user.invitation_accepted_at ? "Accepted" : "Pending"%></td>
      <td class="actions">
        <%= link_to "Show", "#" %>
        <%= link_to "Edit", "#" %>
        <%= link_to "delete", user_destroy_path(:id => user.id), :method => :delete %>
      </td>
    </tr>
    <%end%>
    <% end %>
  </table>
</div>