<div class="BUGS index">
  <h2>Bugs</h2>
 
  <%= link_to "Add New Bugs" ,new_project_bug_path %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Bugs</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
      <th></th>
      <th>Assigned To</th>
    </tr>
    <%i=1%>
    <% @bugs.each do |bug| %>    
    <tr>
      <td><%= i %></td>
      <td><%= bug.bug_name %></td>
      <td><%= bug.bug_description %></td>
      <td><%= bug.status %></td>
      <td class="actions">
        <%=assign_me(bug)%>
      </td>
      <td><%= link_to "view",project_bug_path(bug.project_id,bug)%></td>
      <td> <%=already_assign(bug)%> </td>     
    </tr>
    <%i+=1%>
    <% end %>
  </table>
  
</div>